package com.yuesth.zikirnspin;

import android.app.Activity;
import android.content.Intent;
import android.os.Bundle;

public class SplashActivity extends Activity {

    @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        setContentView(R.layout.activity_splash);

        Thread th = new Thread() {
            public void run(){
                try{
                    sleep(3000);
                }
                catch (InterruptedException e){
                    e.printStackTrace();
                }
                finally {
                    Intent intentSp = new Intent(SplashActivity.this,PrefaceActivity.class);
                    startActivity(intentSp);
                    finish();
                }
            }
        };
        th.start();
    }
}
